@import '~styles/main';

.badge {
  border: 1px solid #000;
}

.header {
  padding: @padding;
  display: flex;
  align-items: center;
}

.header__logo {
  background: red;
  flex: 1;

  img {
    max-width: 100%;
    display: block;
  }
}

.header__text {
  flex: 9;
  text-align: right;
}

.name {
  padding: @padding;
  background: #fff;
}

.name--first,
.name--last {
  display: block;
  text-transform: uppercase;
}

.name--first {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: @padding / 2;
}

.footer {
  padding: @padding;
  text-align: right;
}