@import '~styles/main';

body {
  background-color: @color__red;
  color: #000;
  padding: 0;
  margin: 0;
  -webkit-print-color-adjust: exact;
}

.content {
  background-color: @color__gray;
  padding: @padding * 2;
}

.footer {
  text-align: center;
  padding: @padding;
}

.project {
  color: #fff;
  text-decoration: none;

  i {
    margin-left: @padding / 2;
  }
}

@media print {
  body {
    background-color: transparent;
  }

  .content {
    padding: 0;
  }

  .footer {
    display: none;
  }
}
