@import '~styles/main';

.top {
  display: block;
  max-width: @lg;
  margin: auto;
}

.options {
  flex: 1;
}

.option__group {
  margin-top: @padding;
}

.option__label {
  font-weight: bold;
  margin-bottom: @padding / 2;
}

.preview {
  flex: 1;
}

.actions {
  padding: 0 @padding;
}

.data {
  margin: @padding auto;
  max-width: @lg;
}

.textarea {
  composes: base--input;
  height: 180px;
}

.help {
  font-size: 80%;
  font-style: italic;
  padding-left: 1px;
}

.input {
  composes: base--input;
}

.button {
  composes: base--button;
  margin-top: @padding;

  & + & {
    margin-left: @padding;
  }
}

.bottom {
  max-width: @lg;
  margin: auto;
}

.badges {
  margin-top: -(@padding / 2);
  & > div {
    float: left;
    margin: (@padding / 2) (@padding / 2) 0 0;
  }
}

@media @sm {
  .top {
    display: flex;
  }

  .title--top {
    margin-top: 0;
  }
}

@media print {
  .top,
  .data,
  .help,
  .title--top,
  .button,
  .footer {
    display: none;
  }
}
