@import '~styles/main';

.top {
  display: flex;
}

.options {
  flex: 1;
}

.option__group {
  margin-top: @padding;
}

.option__label {
  font-weight: bold;
  margin-bottom: @padding / 2;
}

.preview {
  flex: 1;
}

.data {
  margin: @padding 0;
}

.textarea {
  composes: base--input;
  height: 200px;
}

.input {
  composes: base--input;
}

.output {
  background: lightskyblue;
}