@import 'variables';

// Base styles for reusable components like form elements.
.base--input {
  padding: @padding / 2;
  width: 100%;
  border: 1px solid #000;
}

.base--button {
  padding: (@padding / 2) @padding;
}
